//color code
$primary-dark: #27184c;
$primary-main: #2d2c2d;
$primary-500: #504070;
$primary-300: #7d7194;
$primary-200: #a89fb8;
$primary-100: #d5cedc;

$secondary-dark: #eb8413;
$secondary-main: #ea8813;
$secondary-500: #ee9f32;
$secondary-300: #f3b866;
$secondary-200: #f6d098;
$secondary-100: #fae9cc;

$grey-500: #717784;
$grey-300: #9da1ab;
$grey-200: #c9cad0;
$grey-100: #f4f4f7;

$background: #f4f3f6;
$success: #8bed3b;
$error: #e2472e;
$white: #fff;
$black: #000;